@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Vazir-Bold.woff") format("woff"),
    url("../vazir-font-v16.1.0/Vazir-Bold.ttf") format("ttf"),
    url("../vazir-font-v16.1.0/Vazir-Bold.woff2") format("woff2"),
    url("../vazir-font-v16.1.0/Vazir-Bold.eot") format("eot");
  font-weight: 700;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Vazir-Light.woff") format("woff"),
    url("../vazir-font-v16.1.0/Vazir-Light.ttf") format("ttf"),
    url("../vazir-font-v16.1.0/Vazir-Light.woff2") format("woff2"),
    url("../vazir-font-v16.1.0/Vazir-Light.eot") format("eot");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Vazir-Thin.woff") format("woff"),
    url("../vazir-font-v16.1.0/Vazir-Thin.ttf") format("ttf"),
    url("../vazir-font-v16.1.0/Vazir-Thin.woff2") format("woff2"),
    url("../vazir-font-v16.1.0/Vazir-Thin.eot") format("eot");
  font-weight: 100;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Vazir-Medium.woff") format("woff"),
    url("../vazir-font-v16.1.0/Vazir-Medium.ttf") format("ttf"),
    url("../vazir-font-v16.1.0/Vazir-Medium.woff2") format("woff2"),
    url("../vazir-font-v16.1.0/Vazir-Medium.eot") format("eot");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Vazir.woff") format("woff"),
    url("../vazir-font-v16.1.0/Vazir.ttf") format("ttf"),
    url("../vazir-font-v16.1.0/Vazir.woff2") format("woff2"),
    url("../vazir-font-v16.1.0/Vazir.eot") format("eot");
  font-weight: 400;
}


@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff")
      format("woff"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.ttf")
      format("ttf"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.woff2")
      format("woff2"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-FD-WOL.eot")
      format("eot");
  font-weight: 400;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff")
      format("woff"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.ttf")
      format("ttf"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.woff2")
      format("woff2"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Medium-FD-WOL.eot")
      format("eot");
  font-weight: 500;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff")
      format("woff"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.ttf")
      format("ttf"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.woff2")
      format("woff2"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Thin-FD-WOL.eot")
      format("eot");
  font-weight: 100;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff")
      format("woff"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.ttf")
      format("ttf"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.woff2")
      format("woff2"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Light-FD-WOL.eot")
      format("eot");
  font-weight: 300;
}

@font-face {
  font-family: "Vazir";
  src: url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff")
      format("woff"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.ttf")
      format("ttf"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.woff2")
      format("woff2"),
    url("../vazir-font-v16.1.0/Farsi-Digits-Without-Latin/Vazir-Bold-FD-WOL.eot")
      format("eot");
  font-weight: 700;
}
